{% load static %}

<nav class="navbar-default navbar-static-side navbar-custom" role="navigation" style="position:fixed;top:50px;left:0">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="text-center profile-element">
                </div>
                <div class="text-white text-center profile-element">
                    <strong>Fonasa</strong>
                </div>
                <div class="logo-element">
                    <strong>Fon+</strong>
                </div>
            </li>

            <!-- Administrador -->
            <li>
                <a href="{% url 'listar_riesgo' %}">
                    <i class="fa fa-list"></i>
                    <span class="nav-label">Listar Pacientes Riesgo</span>
                </a>

            </li>

            <!-- / Administrador / -->


        </ul>

    </div>
</nav>