{% extends "_Partials/_base.html" %} {% load static %} {% block stylesheet %}

<link href="{% static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet"> {% endblock stylesheet %} {% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>
            <i class="fa fa-home"></i> Inicio</h2>
        <ol class="breadcrumb">
        </ol>
    </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>
            <i class="fa fa-home"></i> Inicio</h2>
        <ol class="breadcrumb">
        </ol>
    </div>
</div>

{% endblock content %}